#body {position: relative;
        left: 200px;
        top: 200px;
        z-index: 0;
        
    
}
#eyes {
    position: relative;
        z-index: 1;
        left: -165px;
        bottom: 150px;

}

#hat {
    position: relative;
        z-index: 1;
        left: -540px;
        bottom: 250px;
        
}
#mouth {
    position: relative;
            z-index: 1;
            left: -890px;
            top: 40px;
}
#mustache {
    position: relative;
            z-index: 2;
            right: 1190px;
            bottom: -20px;
}
#nose {
    position: relative;
        z-index: 3;
        left: 350px;
        bottom: 300px;
        
}
#shoes {
    position: relative;
        z-index: 1;
        left: -30px;
        bottom: -40px;
}
